
  html {
    font-size: 16px;
  }
  body {
    overflow-x: hidden;
  }
  
/* Estilo General del Header */
header {
  display:flex;
  width:100%;
  position: fixed;
  justify-content: space-between;
  backdrop-filter: blur(20px); /* Difumina el fondo */
  background:#96c824; 
  top: 0;
  left:0;
  z-index: 10;
  align-items: center;
  padding: 0.6em 2em;
  transition: background 0.3s ease-in-out;
  height: 16vh;
}
.logo{
  margin-left: 0.1%;
  margin-top: 0.1%;
  
}
.logo img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;

}
.logo img:hover {
  transform: scale(1.1);
}
/* ========== Logo Position ========== */
.logo-position {
  position: absolute;
  top: 10px; /* Ajuste superior */
  left: 20px; /* Ajuste izquierdo */
}
.home-title{
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 4em;
  color:white;
  
  
}
/* ========== Menu Position ========== */
.menu-position {
  position: absolute;
  top: 0.5em; /* Ajuste superior */
  right: 1.5em; /* Ajuste derecho */
 
}
.menu-nav{
  padding-top: 0.7em;
  padding-right:1.2em;
  padding-left: 1.2em; 
}
.dropdown-menu{
  background-color:#96c824; 
}
.nav-list {
  display: inline-flex; /* Usamos inline-flex para que el contenedor solo ocupe el ancho de los elementos */
  gap: 4em; /* Espaciado entre los items */
  margin: 0; /* Elimina márgenes */
  list-style: none; /* Quita los puntos de la lista */
  align-items: center; /* Alinea verticalmente los items */
  width: auto; /* Permite que solo ocupe el ancho necesario */
  padding: 10px 20px; /* Espaciado interno para que no se peguen los items al borde */
  justify-content: space-between;
 
  
}

.nav-item {
  width: auto;/* Permite que el ítem solo ocupe lo que mide su contenido */
}

.nav-link {
  display: block; /* Hace que el link ocupe todo el contenedor */
  padding: 0.7em 1.5em; /* Espaciado interno */
  font-size: 1rem !important;
  text-transform: uppercase;
  font-weight: bold !important;
  transition: background 0.3s ease-in-out;
  text-align: center; /* Alinea texto */
  color: #fff !important;
}

.dropdown-menu{
  background: #96c824 !important;
  border:none !important;
}
.dropdown-item{
  color:white !important;
}

.dropdown-item:hover{
  color:black !important;
  background: none !important;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

.navbar-toggler {
  background: #fff;
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/*clases iconos*/
.circle_social {
  display: inline-flex; /* Permite centrar los iconos */
  align-items: center;  /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  width: 2.5em;       /* Tamaño del círculo */
  height: 2.5em;      /* Tamaño del círculo */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  background: rgba(255, 255, 255, 0.2); /* Efecto vidrio transparente */
  backdrop-filter: blur(8px); /* Efecto vidrio */
  transition: all 0.4s ease; /* Animación suave */
  margin: 0 0.5em; /* Espaciado entre iconos */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.circle_social i {
  font-size: 2rem;  /* Tamaño del icono */
  color: white;     /* Color inicial del icono */
  transition: color 0.4s ease; /* Efecto suave al pasar el cursor */
}

.circle_social:hover {
  background: #3d6b01; /* Cambia a color verde con hover */
  transform: scale(1.1); /* Efecto de escala */
}

.circle_social:hover i {
  color: #fff; /* Cambia el color del icono */
}


/* Contenedor de Video */
.main-video-container {
  width: 100vw;
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12em; /* Espacio entre el menú y el video */
  overflow: hidden;
  position: relative;
  
}

.main-video-container video {
  width: 100vw; 
  height: 100vh;
  object-fit: cover; /* Ajuste perfecto */
  filter: grayscale(20%) blur(2px); /* Efecto Blur + Blanco y Negro */
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.main-video-container video:hover {
  filter: grayscale(0%) blur(0px);
  transform: scale(1.05);
}

.main-video-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Capa de oscurecimiento */
  z-index: 1;
}

.main-video-container video {
  z-index: 2;
}
.content_element {
  margin-top: 3.1em;
  margin-left: 1.9em;
}
/* descripcion de servicios */
.services-container {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em;
}

.services-description {
  width: 50vw;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  background: rgba(151, 200, 36, 0.4); /* Color con transparencia */
  color: #3d6b01;
  padding: 4rem;
}

.services-description h3 {
  font-size: 2.5rem;
}

.services-description ul {
  list-style: none;
  padding: 0;
}

.list-items {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: black;
  padding: 0.5rem;
}
.testimonials{
  color: #3d6b01;
}
.testimonials:active{
  color: #3d6b01;
}
/* Contenedor de imagenes */
.services-images {
  width: 50vw;
  display:grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  margin:0.4rem;
}

.services-images img {
  height: 15rem;
  width: 14rem;
  padding: 1%;
  padding-bottom:0.5%;
  border-radius: 0.2%;
  
}
/* Contenedor de secciones */
.events-section{
  background: rgba(151, 200, 36, 0.4); /* Color con transparencia */
}
/* Sección 1: Encabezado */
.header-section {
  text-align: center;
  padding: 2.5em 1.2em;
  
}

.header-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #3d6b01;
}

/* Sección 2: Eventos */
.events-section {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.event {
  text-align: center;
  width: 22%;
  min-width: 200px;
}

.event img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.event img:hover {
  transform: scale(1.1);
  margin-bottom: 20px;
}

.event h3 {
  margin-top: 10px;
  
  font-size: 2.8rem;
  color: #afa10a;
}
.section-title{
  font-family: Parisienne;
}
/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  color: black;
  padding: 40px;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  padding: 10px;
}

.logo-footer {
  width: 150px;
  margin-bottom: 10px;
}

.footer-section h3{
  font-weight: bold;
  color:#3d6b01;
}

.icon-footer {
 width: 2.5em;
 height: 2.5em;

}
.contact-footer{
  font-weight: bold;
  color:#3d6b01;
}
#email{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #3d6b01;
  border-radius: 5px;
}
#email:focus {
  border-color: rgba(151, 200, 36, 0.4);
  outline: none;
}
.error {
  color: red;
  font-size: 14px;
  display: none;
}
button {
  background:#3d6b01;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}
.Designe{
  display: flex;
  height: 10vh;
  background: rgba(151, 200, 36, 0.4); /* Color con transparencia */
  color: #000000;
  justify-content: center;
  padding: 1.5em;
  
}

/* estilos de paginas estaticas*/
.body-static { 
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.section-static{
  display: flex; /* Cambia de grid a flex para alinear en fila */
  justify-content: space-between; /* Separa los elementos */
  align-items: flex-start; /* Alinea los elementos arriba */
  margin-top: 12em;
  gap: 0; /* Espaciado entre los elementos */
  flex-wrap: nowrap;/* para evitar que los elementos se apilen.*/
  
}

.static-title h2{
  text-align: start;
  font-weight: bold;
  color:white;
  font-size: 8em;
  font-family:Montserrat, sans-serif;


}

#container-section-static{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px 15px 15px;
  width: 50vw; /* Ajusta el tamaño para dejar espacio a las imágenes*/
  min-height: 100vh; /* Permitir crecimiento si el contenido lo requiere */
  font-family: 'Montserrat', sans-serif;
  background: rgba(151, 200, 36, 0.4); /* Color con transparencia */
  color: #3d6b01;
  letter-spacing:.5px;
  line-height:1.5em;
  font-style: italic;
  border:20px solid #93a63e;
  border-radius: 10px;
  overflow: hidden; /* Evita que el contenido sobresalga */
  
}
.container-static{
  display: flex;
  flex-wrap: wrap; /* Permite que el contenido baje en lugar de salirse */
}
.text-page-static{
  min-width: 0; /* Para evitar que fuerce un ancho mínimo */
  max-width: 100%;
  flex-grow: 1;
  font-size: 1.5em;
  color: black;
  margin-top: 0.5em;
  overflow-wrap: break-word; /* Evita desbordamiento por palabras largas */
  word-break: break-word; /* Alternativa para navegadores más antiguos */

}
/* Estilos del slider */
.image-slider {
  width: 50vw;/* Mantiene las imágenes en la derecha */
  height: 100vh; /* Ajusta la altura */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.slide {
  display: flex;
    width: 100%;
    height: 100%;
    position: relative;

}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeAnimation 24s infinite;
}

/* Animación individual para cada imagen */
.slide img:nth-child(1) { animation-delay: 0s; }
.slide img:nth-child(2) { animation-delay: 3s; }
.slide img:nth-child(3) { animation-delay: 6s; }
.slide img:nth-child(4) { animation-delay: 9s; }
.slide img:nth-child(5) { animation-delay: 12s; }
.slide img:nth-child(6) { animation-delay: 15s; }
.slide img:nth-child(7) { animation-delay: 18s; }
.slide img:nth-child(8) { animation-delay: 20s; }

@keyframes fadeAnimation {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}


/*estilos pagina contacto*/
.main-contact{
  background-color:#c8dc6e;

 
}
.contact-container{
  padding: 10%;

}
.form-label{
  font-family: monserrat,sans-serif;
}
.btn-color{
  background-color: #3d6b01 !important;
  color:white !important;
  
}
.color-text-form{
  color:#3d6b01 !important;
}

.style-input:active{
  border-color: #3d6b01!important;
  box-shadow: #3d6b01!important;
}

/* Ocultar los elementos del menú cuando la pantalla sea menor de 992px */
@media (max-width: 992px) {
  /* Menu nav*/
  header {
      flex-direction: column; /* Cambia la dirección */
      position: relative;
      height: 200px;
      width: 100%;
      margin-top:0px;
      margin-bottom:30px;
      margin-right: 10px;
      backdrop-filter: blur(20px); /* Difumina el fondo */
      background:#96c824; 
    
  }
  .home-title{
      margin:5px;
       font-size:18px;
   }
   .logo-position {
      position: relative;
      margin-bottom: 10px;
      left: 0;
  }
 
  .logo{
      margin-left:2px;
      margin-top: 0;
      margin-bottom: 5px;
  }
  .logo img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      transition: transform 0.3s ease-in-out;
  
  }
  .logo img:hover {
      transform: scale(1.1);
  }
  #navbarNavDropdown{
    display: none !important;
  }
  .nav-list  {
      display: none ; /* Oculta la lista completa */
      flex-direction: column; /* Cambia la dirección de los elementos */
      gap: 20px !important; /* Añade espacio entre los elementos */
      background: rgba(150, 200, 36, 0.3); /* Color con transparencia */
      backdrop-filter: blur(15px); /* Difuminado del fondo */
      -webkit-backdrop-filter: blur(15px); /* Compatibilidad con Safari */ 
      border-radius: 5px; 
      padding: 30px;
      position: absolute !important;
      right: 0px !important;
      top: 50px !important; /* Aparece debajo del botón */
      z-index: 10 !important;
    
  }
  /* Mostrar la lista al hacer click en el botón hamburguesa */
.navbar-toggler[aria-expanded="true"] + #navbarNavDropdown   {
  display: flex !important; /* Muestra el menú con diseño vertical */
  animation: fadeIn 0.3s ease-in-out; /* Animación de entrada */
}

.navbar-toggler{
  border-color:none !important;
}

.navbar-toggler.active{
  border-color:none !important;
} 
.navbar-nav .nav-link {
  color:#000000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:focus {
  color:#000000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s ease-in-out;
}

/* contenedor de video*/
 .main-video-container {
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 50px; /* Espacio entre el menú y el video */
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
 
}

/* contenedor de servicios*/
.services-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.services-description {
  width: 100%;
  padding: 30px;

  margin-right: 5px;
  margin-left: 5px;
}

.services-description h3 {
  font-size: 20px;
}

.list-items {
  font-size: 12px;
  margin-bottom: 10px;
  color: black;
  padding: 10px;
}

.services-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin:20px;
}


.services-images img {
  height: 12rem;
  width: 13rem;
  padding: 5px;
  border-radius: 10px;
  
}

  .events-section {
      flex-direction: column;
      align-items: center;
  }

  .event {
      width: 80%;
  }
}

@media (max-width: 430px){
 
  .main-video-container {
    width: 100vw;
    height: 100vh; /* Mantiene el 100% del alto de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Elimina márgenes adicionales */
    margin-bottom: 0;
    padding: 0; /* Asegura que no haya espacios internos */
    overflow: hidden;
    position: relative;
  }

  .main-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Se adapta al contenedor sin deformarse */
  }

  .services-images img {
    display: none;
   
  }
  
.event img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

/*about*/
.section-static{
  display: flex; /* Cambia de grid a flex para alinear en fila */
  flex-direction: column;
  justify-content: space-between; /* Separa los elementos */
  align-items: start; /* Alinea los elementos arriba */
  margin-top: 5em;
  gap: 0; /* Espaciado entre los elementos */
  
  
}

.static-title{
  text-align: start;
  font-weight: bold;
  color:black;
  font-size: 1.5em;
  font-family: monserrat;
  padding-bottom: 15px;
  


}

#container-section-static{
  display: grid;
  text-align: justify;
  padding-top: 20px;
  width: 100vw; /* Ajusta el tamaño para dejar espacio a las imágenes*/
  height: 40vh;
  font-family: 'Montserrat', sans-serif;
  background: rgba(151, 200, 36, 0.4); /* Color con transparencia */
  color: #3d6b01;
  font-size: .8em;
  line-height:1.5em;
  font-style: italic;
  border-radius: none;
  
}

.container-section-static h2{
  height: 1vh;
  
}
.static{
font-size: 1.5em;
color:black;
margin-top: 0em;
height: 50vh;

}
.static-title h2{
  text-align: start;
  font-weight: bold;
  color:white;
  font-size: 4em;
  font-family:Montserrat, sans-serif;


}

/* Estilos del slider */
.image-slider {
  width: 100vw;
  height: 55vh; /* Ajusta la altura */
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.slide {
  display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border:15px solid #93a63e;

}
.slide video{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para cubrir el contenedor */
}
.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeAnimation 24s infinite;
}

/* Animación individual para cada imagen */
.slide img:nth-child(1) { animation-delay: 0s; }
.slide img:nth-child(2) { animation-delay: 3s; }
.slide img:nth-child(3) { animation-delay: 6s; }
.slide img:nth-child(4) { animation-delay: 9s; }
.slide img:nth-child(5) { animation-delay: 12s; }
.slide img:nth-child(6) { animation-delay: 15s; }
.slide img:nth-child(7) { animation-delay: 18s; }
.slide img:nth-child(8) { animation-delay: 20s; }

@keyframes fadeAnimation {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

}


